body{
    background-color: grey;
}

.container{
    background-color:lightgrey ;
    margin:20px;
}
/*topbar*/
.topBar{
    background-color: black;
    /*width: 99%;*/
    padding:10px;
    height:30px;
    color:grey;
}
.logo{
    float:left;
    color: white;
    width: 50%;
    font-size: 30px;
}
.loginBlock{
    float:left;
    text-align: right;
    /*background-color: green;*/
    width: 50%;
    color:white;
}
/*secondbar*/
.secondBar{
    background-color: white;
    color:gray;
    /*width: 99%;*/
    padding:5px;
    height:20px;
}
.date{
    float: left;
    /*background-color: purple;*/
    width: 50%;
    text-align: center;
}
.sortingOptions{
    float:left;
    /*background-color: yellow;*/
    width: 50%;
    text-align: right;
}
 /*calendar*/
.calendar{
    margin: 5px;
    padding:5px;
    background-color:lightgrey;
    height: 500px;
}
.days{
    width:13%;
    height:21%;
    padding:20px;
    background-color: lightgrey;
    float: left;

}
.dayOfTheWeek{
    background-color:white;
    color:black;
    text-align: center;
    height: 20px;
}
.numberOfActivities{
    background-color:grey;
    color:white;
    text-align: center;
    height: 20px;
}
.picture{
    background-color:black;
    color:black;
    height: 80px;
}
.showActivities{
    background-color:white;
    color:black;
    text-align: center;
    height: 20px;
}
.dateActivity{
    background-color: black;
    color:white;
    text-align: center;
    height: 20px;
}