body {
    margin: 0;
    background: #fff !important;
}

.viewContainer {
    margin-left: 10%;
    margin-right: 10%;
    height: 600px;
    margin: 1px;

}

.topBar {
    float: left;
    border: solid 1px black;
    width: 100%;
    height: 60px;
    margin: 2px;
    background-color: Black;
    color: white;
}

.logo {
    float: left;
    width: 33%;
    margin: 1px;
    text-align: center;
    padding-top: 20px;
}

.search {
    float: left;
    border: solid 1px black;
    width: 33%;
    margin: 1px;
    text-align: center;
    padding-top: 10px;
    color: black;
}

.searchbar {
    width: 250px;
    padding: 5px 5px 5px 30px;
}

.profile {
    float: left;
    border: solid 1px black;
    width: 32%;
    margin: 1px;
    text-align: right;
    padding-top: 10px;
}

.leftSideBar {
    float: left;
    width: 30%;
    height: 425px;
    margin: 0 5px 1px 1px;
    padding: 10px;
}

.week {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    display: block;
    float: right;
    font-weight: bold;
}

.calendar {
    width: 100%;
    margin-top: 1px;
    height:280px;
}

.calendar > .day {
    background-color: black;
    padding: 10px;
    color: white;
    height: 40px;
    width: 49.5%;
    margin-top: 1px;
    margin-left: 1px;
    float: left;
    text-align: center;
    display: block;
}

.day > .weekday {
    font-weight:bold;
}

.calendar > .inactive {
    background-color: #DADADA;
}

.plannedActivities {
    background: #DADADA;
    color: white;
    padding: 10px;
    height: 40px;
    width: 99.5%;
    margin-top: 1px;
    margin-left: 1px;
    float: left;
    text-align: center;
    display: block;
}

.sportType {
    border-top: solid 2px black;
    height: 70px;

}

.rightSide {
    float: left;
    /*border:solid 1px yellow;*/
    width: 67.7%;
    height: 400px;
    margin: 10px;
}

.meter {
    float: left;
    width: 100%;
    height: 100px;
    margin: 0 0 5px 0;
    background-color: #ECECEC;
}

.meter > .completed {
    background-color: #95BF31;
    width: 300px;
    height: 100%;
    float: left;
    font-weight:bold;
    color: white;
    text-align: center;
    padding-top: 35px;
}

.meter > .completedrecent {
    background-color: #DDDA1A;
    width: 30px;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 35px;
}

.meter > .notcompleted {
    width: 600px;
    height: 100%;
    float: left;
    color: darkgrey;
    text-align: center;
    padding-top: 35px;
}

.activitiesColumn {
    float: left;
    width: 100%;
    margin: 1px;
}

.description {
    float: left;
    width: 100%;
    height: 80px;
    margin: 1px;
    background-color: #F6F6F6;
}

.activity {
    float: left;
    background-color: #ECECEC;
    width: 100%;
    margin: 0 0 5px 0;
}

.icon {
    float: left;
    height: 75px;
    margin: 6px 0 0 6px;
}

.activityTitle {
    float: left;
    height: 75px;
    width: 43%;
    padding:13px 5px 0px 5px;
}

.activityTitle > .title {
    font-weight: bold;
}

.timeAndDate {
    float: left;
    height: 75px;
    width: 28%;
    font-size:90%;
    padding:20px 0 0 0;
}

.attendance {
    float: left;
    height: 75px;
    width: 9%;
    padding:20px 2px 0 0;
}

.activityPoints {
    float: right;
    height: 75px;
    width: 11%;
    padding:23px 0 0 5px;
}

.activityPoints img {
    margin-right:  0px;
}

form {
    margin-top: 40px;
    margin-bottom: 40px;
}

form select {
    margin-top: 10px;
    margin-bottom: 10px
}

form input {
    margin-top: 10px;
    margin-bottom: 10px
}

.derdeDeel {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 60%;
    float: left;
}

.datum {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 32%;
    float: left;
}

.datumMarge {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 32%;
    float: left;
    margin-left: 2%;
}

.derdeDeelInp {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 19%;
    float: left;
    margin-left: 1%;
}

.tweedeDeelA {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 48%;
    margin-right: 2%;
    float: left;
}

.tweedeDeelB {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 48%;
    margin-left: 2%;
    float: left;
}

textarea {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 150px;
}

.line {
    float: left;
    width: 100%;
    height: 1px;
    background-color: #6f6f6f;
    margin-top: 15px;
    margin-bottom: 15px;
}