.container {
    margin: 0 10% 0 10%;
    height: 600px;
    margin: 1px;
    min-width:1220px;
    width:100%;
    display:block;
}

.message{
    float:left;
}


.topBar {
    width: 100%;
    min-width:1210px;
    height: 60px;
    background-color: black;
    color: white;
}

.logo {
    float: left;
    width: 31%;
    text-align: center;
    padding-top: 20px;
}

.search {
    float: left;
    border: solid 1px black;
    width: 300px;
    text-align: center;
    padding-top: 10px;
    color: black;
    font-size: 90%;
}

.searchbaricon {
    background-image: url('../img/zoek.png');
    height: 16px;
    width: 16px;
    position: absolute;
    margin: 8px 0 0 5px;
}

.searchbar {
    width: 300px;
    padding: 5px 5px 5px 30px;
}

.profile {
    float: right;
    width: 35%;
    min-width:500px;
    text-align: right;
    padding-top: 18px;
    margin-right: 20px;
    display:block;
}

a:link, a:hover, a:active, a:visited {
    color:black;
    text-decoration:none;
}

.topBar a:link, .topBar a:visited, .topBar a:hover, .topBar a:active {
    text-decration: none;
    color: white;
}

.profile img {
    margin: -5px 2px 0 2px;
}

.leftSideBar {
    float: left;
    width: 30%;
    height: 425px;
    padding: 10px;
    min-width:340px;
}

.week {
    width: 100%;
    display: block;
    float: left;
    margin-top: 30px;
    height: 30px;
}

.weeknumber {
    float: left;
    text-align: center;
    font-weight: bold;
    display: block;
    width: 280px;
}

.weekarrowleft {
    background-image: url('../img/arrow_small.png');
    height: 16px;
    width: 16px;
    display: block;
    float: left;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    margin-top:3px;
}

.weekarrowright {
    height: 16px;
    width: 16px;
    display: block;
    float: right;
    background-image: url('../img/arrow_small.png');
    margin-top:3px;
}

.calendar {
    width: 100%;
    height: 290px;
}

.calendar > .day {
    background-color: black;
    padding: 10px;
    color: white;
    height: 40px;
    width: 48%;
    margin: 5px 0 0 5px;
    float: left;
    text-align: center;
    display: block;
}

.day > .weekday {
    font-weight: bold;
}

.calendar > .inactive {
    background-color: #DADADA;
}

.plannedActivities {
    background: #DADADA;
    color: white;
    padding: 10px;
    height: 40px;
    width: 99.5%;
    float: left;
    text-align: center;
    display: block;
}

.sportType {
    border-top: solid 2px black;
    height: 70px;
}

.rightSide {
    float: right;
    width: 69%;
    min-width:770px;
    height: 500px;
    margin: 10px 10px 0 0;
}

.meter {
    float: left;
    width: 100%;
    height: 100px;
    margin: 0 0 5px 0;
    background-color: #ECECEC;
}

.meter > .completed {
    background-color: #95BF31;
    width: 300px;
    height: 100%;
    float: left;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 35px;
}

.meter > .completedrecent {
    background-color: #DDDA1A;
    width: 30px;
    height: 100%;
    float: left;
    text-align: center;
    padding-top: 35px;
}

.meter > .notcompleted {
    width: 400px;
    height: 100%;
    float: right;
    color: #C6C6C6;
    text-align: center;
    padding-top: 35px;
    font-weight: bold;
}

.activitiesColumn {
    float: left;
    width: 100%;
}

.description {
    float: left;
    width: 100%;
    height: 80px;
    margin-top: -5px;
    background-color: #F6F6F6;
    margin-bottom: 5px;
    padding: 10px 0 0 20px;
    font-size: 80%;
}

.activity {
    float: left;
    background-color: #ECECEC;
    width: 100%;
    margin: 0 0 5px 0;
}

.icon {
    float: left;
    height: 75px;
    margin: 6px 0 0 6px;
}

.activityTitle {
    float: left;
    height: 75px;
    width: 43%;
    padding: 13px 5px 0 5px;
}

.activityTitle > .title {
    font-weight: bold;
}

.timeAndDate {
    float: left;
    height: 75px;
    width: 28%;
    font-size: 90%;
    padding: 20px 0 0 0;
}

.attendance {
    float: left;
    height: 75px;
    width: 9%;
    padding: 20px 2px 0 0;
}

.activityPoints {
    float: right;
    height: 75px;
    width: 11%;
    padding: 23px 0 0 5px;
}

form {
    margin-top: 40px;
    margin-bottom: 40px;
}

form select {
    margin-top: 10px;
    margin-bottom: 10px
}

form input {
    margin-top: 10px;
    margin-bottom: 10px
}

.derdeDeel {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 60%;
    float: left;
}

.datum {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 32%;
    float: left;
}

.datumMarge {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 32%;
    float: left;
    margin-left: 2%;
}

.derdeDeelInp {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 19%;
    float: left;
    margin-left: 1%;
}

.tweedeDeelA {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 48%;
    margin-right: 2%;
    float: left;
}

.tweedeDeelB {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    width: 48%;
    margin-left: 2%;
    float: left;
}

textarea {
    display: block;
    width: 100%;
    height: 39px;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 150px;
}

.line {
    float: left;
    width: 100%;
    height: 1px;
    background-color: #6f6f6f;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Profile */

.userInfo > .profilePicture {
    display:block;
    background:black;
    width:150px;
    height:150px;
    float:left;
}

.userInfo > .info {
    float:left;
    display:block;
    margin:30px 0 0 20px;
}


.userInfo > .info > .name {
    font-size:150%;
    font-weight:bold;
}

.userInfo > .info > .activeDate {
    color:darkgrey;
    font-weight:200;
}

.profileLeftSide {
    float: left;
    width: 30%;
    height: 425px;
    padding: 10px;
}
.profileRightSide {
    float: right;
    width: 69%;
    height: 400px;
    margin: 10px 10px 0 0;
}

.profileCompleteLevel {
    display:block;
    background:#F6F6F6;
    margin: 5px 0;
}

.friendlistHeader {
    background:#ECECEC;
    color:#9D9C9C;
    padding:10px;
}

.friendIcon{
    display:block;
    background:black;
    width:97px;
    height:97px;
    float:left;
    margin:5px;
}

.completeFriendlist {
    background:#F6F6F6;
    height:250px;
}

.activityText {
    padding:30px 0 0 0;
    font-weight:500;
    font-size:130%;
}

.activityDate {
    margin: 0 0 20px 0;
}

.profileCompleteLevel img {
    float:left;
    margin: 0 30px 0 10px;
}

.profileCompleteLevel {
    height:115px;
}

.profileCompleteLevel {
    height:115px;
}

.profileCompleteLevel > .completeText {
    padding:25px 0 0 0;
    font-size:110%;
}

.bold {
    font-weight:bold;
}

.block {
    display:block;
    background:#BCD676;
    width:186px;
    height:130px;
    float:left;
    color:#fff;
    font-weight:bold;
    padding:10px;
    margin:5px;
}

.block > .title {
    height:40px;
    display:block;
}

.block > .status {
    font-size: 250%;
    margin-top:10px;
}

.block2{
    background:#AFCD5B;
}

.block3{
    background:#A1C542;
}

.block4{
    background:#95BF31;
}

.activityUpdate {
    background: #ECECEC;
    margin: 4px 5px 0 5px;
    width:775px;
}

.activityFooter {
    background:#DADADA;
    width:100%;
    height:35px;
}

.activityLikes{
    float:left;
    margin: 5px 0 5px 20px;
    font-weight:bold;
}

.react {
    float:left;
    margin: 5px 0 5px 20px;

}

#example1 {
    float:left;
}