<!DOCTYPE html>
<html ng-app="WijchenGezondApp">
<head>
    <title>WijchenVerenigd</title>

    <script src="/js/angular/angular.min.js"></script>
    <script src="/js/angular/angular-route.min.js"></script>
    <script src="/js/angular/angular-resource.min.js"></script>
    <script src="/js/homeController.js"></script>
    <script src="/js/categorieController.js"></script>
    <script src="/js/hoofdCategorieController.js"></script>
    <script src="/js/activiteitController.js"></script>
    <script src="/js/gebruikerController.js"></script>
    <script src="/js/profielController.js"></script>
    <script src="/js/statController.js"></script>
    <script src="/js/navController.js"></script>
    <script src="/js/meterController.js"></script>
    <script src="/js/feedsController.js"></script>
    <script src="/js/feedsGebruikerController.js"></script>
    <script src="/js/routes.js"></script>


    <link rel="stylesheet" href="/css/stylesheet.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>


    
    <div id="navbar">
    </div>

    <div id="header">
    </div>

    <div id="container">
        <div ng-controller="navController">
            <div id="containerNavbar">
                <h1><a href="/#/">WIJCHENVERENIGD</a></h1>
                <input type="text" placeholder = "Waar ben je naar op zoek?" />
                <ul>
                    <a href ng-click="viewFeeds()"><li class="fa fa-newspaper-o"> FEED</li></a>
                    <a href ng-click="actMaken()"><li class="fa fa-plus"> ACTIVITEIT AANMAKEN</li></a>
                    <a href ng-click="changeLogin()"><li class="fa fa-user"> {{isIngelogd}}</li></a>
                </ul>
            </div>

            <div id="login" ng-show="showLogin">
                <p>{{loginMessage}}</p>
                <form ng-init>
                    <input placeholder="Email of Username" type="text" ng-model="login.emailUsername" />
                    <input placeholder="Wachtwoord" type="password" ng-model="login.wachtwoord" />
                    <input class="submitLogin" type="submit" value="Login" ng-click="tryLogin(login)" />
                </form>
                <a href="/#/register">nog geen lid?</a>
                <a href="/#/register">Wachtwoord vergeten?</a>
            </div>

        </div>

        <div id="containerHeader" ng-controller="statController">
            <div ng-controller="meterController" class="headerDoelMeter">

                {{meterDoel}}<br>
                <span class="text">Doel van deze maand</span>
            </div>
            {{meterDoel}}
            <div ng-hide="hide" ng-repeat="stat in statistieken" class="headerIcon">
                <ul>
                    <li class="{{stat.icon}}"></li>
                    <li class="textGroot">{{stat.data}}</li>
                    <li class="text">{{stat.pointer}}</li>
                </ul>
            </div>
        </div>

    <div ng-view=""></div>

</div>

</body>
</html>
