
	    <div id="sideBar">
	        <div id="meter" ng-controller="meterController">
	        	<h2>{{meterPunten}}</h2>
	        	<p>Punten</p>
	        	<div id="meterAchtergrond">
	        		<div id="meterPunten">
	        		</div>
	        	</div>
	        </div>
		    <div id="meterTekst" ng-controller="meterController">
		    	<h2>Beweeg mee voor het gezamelijke doel!</h2>
		    	<p>{{meterDoel}}</p>
		    </div>
	    </div>

		<div id="activiteitMaken">

			<h1>Maak een nieuwe activiteit aan!</h1>
			<form ng-model="activiteit">
				<input class="naam" type="text" placeholder="Naam van de activiteit" ng-model="activiteit.naam" />
		    	<div class="line"></div>

				<h3>Categorieën</h3>


				<select class="heleLengte" ng-change="updateSubs()" ng-model="activiteit.hoofdCategorie" ng-options="hoofdCategorie.naam for hoofdCategorie in hoofdCategorieen">
		      		<option value="">Kies hoofdcategorie</option>
		    	</select>


		    	<select class="heleLengte" ng-change="updatePunten()" ng-model="activiteit.subCategorie" ng-options="subCategorie.naam for subCategorie in subCategorieen">
		      		<option value="">Kies subcategorie</option>
		    	</select>

		    	<div class="line"></div>

				<h3>Intensiteit</h3>


		    	<select class="heleLengte" ng-model="activiteit.intensiteit">
		      		<option value="">Kies intensiteit</option>
		      		<option value="beginner">Beginner</option>
		      		<option value="gevorderd">Gevorderd</option>
		      		<option value="expert">Expert</option>
		    	</select>

		    	<div class="line"></div>

				<h3>Frequentie</h3>

		    	<select class="heleLengte" ng-change="toonTijdDatum()" ng-model="activiteit.doorloopTijd">
		      		<option value="">Kies frequentie</option>
		      		<option value="eenmalig">Eenmalig</option>
		      		<option value="wekelijks">Wekelijks</option>
		    	</select>


		    	<div ng-show="activiteit.dagen" ng-model="activiteit.dagen">
					<h5>Op welke dagen van de week wordt de activiteit uitgevoerd? <BR /> Geef dag, start- en eindtijd</h5>
			    	<div class="heleLengteDiv" ng-repeat="dag in activiteit.dagen">

							<select class="derdeDeel" ng-model="dag.nummer">
					      		<option value="1">Maandag</option>
					      		<option value="2">Dinsdag</option>
					      		<option value="3">Woensdag</option>
					      		<option value="4">Donderdag</option>
					      		<option value="5">Vrijdag</option>
					      		<option value="6">Zaterdag</option>
					      		<option value="7">Zondag</option>
					    	</select>

			    		<input class="beginTijd" type="time" ng-model="dag.beginTijd" />
			    		<input class="eindTijd" type="time" ng-model="dag.eindTijd" />
					</div>
			    	<button ng-click="voegDagToe()">Voeg dag toe</button>
			    	<button ng-click="verwijderDag()">Verwijder dag</button>
		    	</div>

		    	<div class="heleLengteDiv" ng-show="activiteit.datum" ng-model="activiteit.datum">
					<h5>Op welke datum wordt de activiteit uitgevoerd? <BR /> Geef een datum, start- en eindtijd</h5>

					<select class="vijfdeDeel" ng-model="activiteit.datum.dag">
	      				<option value="">Kies dag</option>
			      		<option value="1">1</option>
			      		<option value="2">2</option>
			      		<option value="3">3</option>
			      		<option value="4">4</option>
			      		<option value="5">5</option>
			      		<option value="6">6</option>
			      		<option value="7">7</option>
			      		<option value="8">8</option>
			      		<option value="9">9</option>
			      		<option value="10">10</option>
			      		<option value="11">11</option>
			      		<option value="12">12</option>
			      		<option value="13">13</option>
			      		<option value="14">14</option>
			      		<option value="15">15</option>
			      		<option value="16">16</option>
			      		<option value="17">17</option>
			      		<option value="18">18</option>
			      		<option value="19">19</option>
			      		<option value="20">20</option>
			      		<option value="21">21</option>
			      		<option value="22">22</option>
			      		<option value="23">23</option>
			      		<option value="24">24</option>
			      		<option value="25">25</option>
			      		<option value="26">26</option>
			      		<option value="27">27</option>
			      		<option value="28">28</option>
			      		<option value="29">29</option>
			      		<option value="30">30</option>
			      		<option value="31">31</option>
			    	</select>

						<select class="vijfdeDeel" ng-model="activiteit.datum.maand">
		      				<option value="">Kies maand</option>
				      		<option value="0">Januari</option>
				      		<option value="1">Februari</option>
				      		<option value="2">Maart</option>
				      		<option value="3">April</option>
				      		<option value="4">Mei</option>
				      		<option value="5">Juni</option>
				      		<option value="6">Juli</option>
				      		<option value="7">Augustus</option>
				      		<option value="8">September</option>
				      		<option value="9">Oktober</option>
				      		<option value="10">November</option>
				      		<option value="11">December</option>
				    	</select>

						<select class="vijfdeDeel" ng-model="activiteit.datum.jaar">
		      				<option value="">Kies jaar</option>
				      		<option value="2014">2014</option>
				      		<option value="2015">2015</option>
				    	</select>

			    		<input class="beginTijd" type="time" ng-model="activiteit.datum.beginTijd" />
			    		<input class="eindTijd" type="time" ng-model="activiteit.datum.eindTijd" />
		    	</div>
		    	<div class="line"></div>

				<h3>Aantal deelnemers</h3>

		  		<div class="heleLengteDiv">
			  		<input class="deelnemersMin" type="number" ng-model="activiteit.minPers" placeholder="Minimaal aantal deelnemers" />

			  		<input class="deelnemersMax" type="number" ng-model="activiteit.maxPers" placeholder="Maximaal aantal deelnemers" />

			  		<input class="verzamelPlaats" type="text" ng-model="activiteit.verzamelPlaats" placeholder="Verzamelplaats, startpunt of adres" />

			  		<h4>Je krijgt voor deze activiteit per deelnemer {{activiteit.punten}} punten per keer!</h4>

		  		</div>

		    	<div class="line"></div>
				<h3>Omschrijving van de activiteit</h3>
		    	<textarea ng-model="activiteit.omschrijving" placeholder="Typ hier een omschrijving van je activiteit bijvoorbeeld welke sport je precies wilt doen en andere belangrijke informatie."></textarea>
		    	<div class="line"></div>

				<input class="submit" type="submit" value="Maak activiteit aan" ng-click="saveActiviteit()" />
			</form>
		</div>
