

	    <div id="sideBar">
	        <div id="zoekActiviteit">
	        	<h2>Vrienden</h2>
	        	<p>73 vrienden:</p>
	        </div>
	        <div id="meter" ng-controller="meterController">
	        	<h2>{{meterPunten}}</h2>
	        	<p>Punten</p>
	        	<div id="meterAchtergrond">
	        		<div id="meterPunten">
	        		</div>
	        	</div>
	        </div>
		    <div id="meterTekst" ng-controller="meterController">
		    	<h2>Beweeg mee voor het gezamelijke doel!</h2>
		    	<p>{{meterDoel}}</p>
		    </div>
	    </div>

	    <div id="feeds">
	    	<div ng-repeat="feed in feeds | orderBy:predicate:true" class="feed">
	    		<div class="feedImage">
	    			<img src="./img/hardlopen.jpg">
	    		</div>
	    		<div class="feedContent">
	    			<img src="{{feed.maker.avatar}}" alt="gebruiker-avatar" />
	    			<h1><a href="#">{{feed.maker.username}}</a> {{feed.feed.nieuws}} <a href="#"> {{feed.activiteit.naam}}</a></h1>
	    			<h4><i class="fa fa-heart-o"></i> {{feed.feed.likes}} </h4> <h5>{{feed.feed.datum}}</h5>
	    		</div>
	    		<div class="feedReacties">
	    			<div ng-repeat="reactie in feed.reacties" class="feedReactie">
	    				<img src="{{reactie.gebruiker.avatar}}" alt="Profielfoto van de reageerder" /> 
	    				<h5>{{reactie.gebruiker.username}}:</h5>
	    				<p> {{reactie.reactie}}</p>
	    				<h6> {{reactie.datum}}</h6>
	    			</div>
	    			<div class="feedReageer">
	    				<img src="{{gebruikerLogin.avatar}}" alt="Jouw profielfoto" />
	    				<form>
	    					<input type="text" ng-model="reactie" placeholder="Reageer dan"></input>
	    					<button ng-click="postFeed(feed.feed._id, reactie)"><i class="fa fa-share"></i></button>
	    					<input ng-click="postFeed(feed.feed._id, reactie)" type="submit" class="submit"></input>
	    				</form>
	    			</div>
	    		</div>
	    	</div>
	    </div>