<div class="profileLeftSide">
	<div class="userInfo">
		<div class="profilePicture"><img src="./img/userIcon_groot.png" height="100%"></div>
		<div class="info">
			<div class="name">Henk<br>
				Grollen</div>
			<div class="activeDate">Actief sinds<br>
			07/12/14</div>
		</div>
	</div>
	<div style="clear:both"></div>
	<div class="profileCompleteLevel">
		<div id="example1">

		</div>
		<div class="completeText">
			Je profiel is voor<br>
		75% compleet<br>
			</div>
		<a href="#" class="bold">UITBREIDEN</a>
	</div>
	<div style="clear:both"></div>
	<div class="completeFriendlist">
		<div class="friendlistHeader">
			<span class="bold">VRIENDEN &bull;</span> 100
		</div>
		<div class="friendIcon"><img src="./img/userIcon_klein.png" height="100%"></div>
		<div class="friendIcon"><img src="./img/userIcon_klein.png" height="100%"></div>
		<div class="friendIcon"><img src="./img/userIcon_klein.png" height="100%"></div>

		<div class="friendIcon"><img src="./img/userIcon_klein.png" height="100%"></div>
		<div class="friendIcon"><img src="./img/userIcon_klein.png" height="100%"></div>
		<div class="friendIcon"><img src="./img/userIcon_klein.png" height="100%"></div>
	</div>
</div>
<div class="profileRightSide">
	<div class="block">
		<div class="title">AANTAL ACTIVITEITEN</div>
		<div class="icon"><img src="./img/klok_groen.png" height="60px"></div>
		<div class="status">11</div>
	</div>
	<div class="block block2">
		<div class="title">TOTAAL AANTAL PUNTEN</div>
		<div class="icon"><img src="./img/beker_groen.png" height="60px"></div>
		<div class="status">110</div>
	</div>
	<div class="block block3">
		<div class="title">AANTAL PUNTEN DEZE MAAND</div>
		<div class="icon"><img src="./img/beker_donkergroen.png" height="60px"></div>
		<div class="status">60</div>
	</div>
	<div class="block block4">
		<div class="title">FAVORIETE ACTIVITEIT</div>
		<div class="icon"><img src="./img/hardlopen_groen.png" height="60px"></div>
		<div class="blockText">HARDLOPEN</div>
	</div>
	<div style="clear:both"></div>

	<div class="activityUpdate">
		<div class="icon"><img src="./img/loop_groot.png" alt="icon" height="120%"></div>
		<div class="activityText">GAAT HARDLOPEN<span class="bold"> / DE VESTE</span></div>

		<div class="activityDate"><img src="./img/klok.png" alt="icon">19:30 | 17/12</div>
		<div class="activityFooter">
			<a href="#"><div class="activityLikes"><img src="./img/likes.png" height="20px"> 12</div></a>
			<a href="#"><div class="react"><img src="./img/textballoon.png" height="20px"> Reageer</div></a>
		</div>
	</div>

</div>