<div>
  <h1>Dit is de home-pagina.</h1>

  <a href="/#/activiteit/">Maak een activiteit aan</a></br>
  <a href="/#/aanmelden/">aanmelden</a>
</div>
<div class="viewContainer">
    <div class="topBar">
            <div class="logo">WIJCHEN VERENIGD</div>
            <div class="search">
                <input type="text">
            </div>

            <div class="profile">profiel</div>
    </div>

    <div class="leftSideBar">
        <div class="week">WEEK</div>
        <div class="calendar">
        </div>
        <div class="sportType"></div>
        <div>button</div>
    </div>
    <div class="rightSide">
        <div class="points">Points</div>
        <div class="activitiesColumn">
            <div class="activity">
                <div class="icon">icoon</div>
                <div class="activityTitle">HARDLOPEN/Rondje kasteel</div>
                <div class="timeAndDate">19:30 etc</div>
                <div class="attendance"> 5/10 </div>
                <div class="activityPoints"> 10pt</div>
            </div>
        </div>
    </div>
</div>