

	    <div id="sideBar">
	        <div id="zoekActiviteit">
	        	<h2>Zoek een activiteit</h2>
	        	<p>Selecteer een categorie:</p>
	        	<a href="#" class="fa fa-futbol-o"></a>
	        	<a href="#" class="fa fa-bicycle"></a>
	        	<a href="#" class="fa fa-life-ring"></a>
	        	<a href="#" class="fa fa-rub"></a>
	        	<a href="#" class="fa fa-university"></a>
	        	<a href="#" class="fa fa-users"></a>
	        	<form>
	        		<input placeholder="Wanneer?" type="text" />
	        		<button id="zoekActiviteitButton" class="fa fa-calendar"></button>
	        		<input id="zoekActiviteitSubmit" type="submit" value="Zoeken" />
	        	</form>
	        </div>
	        <div id="meter" ng-controller="meterController">
	        	<h2>{{meterPunten}}</h2>
	        	<p>Punten</p>
	        	<div id="meterAchtergrond">
	        		<div id="meterPunten">
	        		</div>
	        	</div>
	        </div>
		    <div id="meterTekst" ng-controller="meterController">
		    	<h2>Beweeg mee voor het gezamelijke doel!</h2>
		    	<p>{{meterDoel}}</p>
		    </div>
	    </div>

	    <div id="kalender">
	    	<div class="totActiviteit" ng-repeat="act in activiteiten | orderBy:predicate:reverse" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
	    		<div class="actDeelnemen" ng-show="hoverEdit">
	    			<p>Deelnemers:</p>
	    			<ul>
	    				<li ng-repeat="deelnemer in act.deelnemers"><i class="fa fa-user"></i> {{deelnemer.username}}</li>
	    			</ul>
	    			<div>
	    				<button ng-click="deelnemen(act.act._id, deelnemenOfAfmelden(act.deelnemers))"><i class="fa fa-plus"></i> {{deelnemenOfAfmelden(act.deelnemers)}}</button>
	    			</div>
	    		</div>

	    		<div class="activiteit" ng-hide="hoverEdit">
		    		<div class="actHeader">
		    			<img src="{{act.subCategorie.iconImg}}" alt="themafoto" />
		    		</div>
		    		<div class="actDetails">
		    			<h3>Door: {{act.creator.username}}</h3>
		    			<h1>{{act.naam}}</h1>
		    			<h2><i class="fa fa-user"></i> {{act.aantalDeelnemers}}</h2>
		    			<h2><i class="fa fa-thumb-tack"></i> {{act.act.verzamelPlaats}}</h2>
		    			<h4 ng-repeat="dag in act.dagen"><i class="fa fa-clock-o"></i> {{dag.dagNaam}} {{dag.beginTijd}}</h4>
		    		</div>
		    		<div class="actOmschrijving">
		    			<p>{{act.act.omschrijving}}</p>
		    		</div>
	    		</div>
	    	</div>
	    </div>