<div id="container">
	<h1>Login</h1>
	<div>
		<form ng-model="login">
			<input type="text" class="form-control" placeholder="Gebruikersnaam of Email-adres" ng-model="login.emailUsername" />
			<input type="password" class="form-control" placeholder="Wachtwoord" ng-model="login.wachtwoord" />

			<input class="btn btn-success" type="submit" value="Login" ng-click="log()" />
		</form>
	</div>

	<h1>Registreer</h1>
	<div>
		<form ng-model="createGebruiker">
			<input type="text" class="form-control" placeholder="Gebruikersnaam" ng-model="createGebruiker.username" />
			<input type="text" class="form-control" placeholder="Email-adres" ng-model="createGebruiker.email" />
			<input type="password" class="form-control" placeholder="Wachtwoord" ng-model="createGebruiker.wachtwoord" />
			<input type="password" class="form-control" placeholder="Bevestig wachtwoord" ng-model="createGebruiker.bevestigWachtwoord" />
            <span ng-show="IsMatch">Emails have to match!</span>

			<input class="btn btn-success" type="submit" value="Registreer" ng-click="reg()" />
		</form>
	</div>
</div>