<div id="registerContainer">
	<img src="./img/regImage.png" alt="Aanmelden image" />
    <div id="registerForm">
        <h1>{{message}}</h1>
        <form id="regForm" ng-model="register">
            <input type="text" ng-model="register.username" placeholder="Gebruikersnaam" />
            <input type="text" ng-model="register.email" placeholder="Email-adres" />
            <input type="password" ng-model="register.wachtwoord" placeholder="Wachtwoord" />
            <input type="password" ng-model="register.bevestigWachtwoord" placeholder="Herhaal wachtwoord" />
            <input type="submit" class="regSubmit" value="AANMELDEN" ng-click="registreer(register)" />
        </form>
    </div>
</div>