<div class="registerPage">

<div class="registerTop">


</div>


<form class="tester" ng-model="createGebruiker">
                <input type="text" class="form-control" placeholder="Gebruikersnaam" ng-model="createGebruiker.username" /></br>
                <input type="text" class="form-control" placeholder="Email-adres" ng-model="createGebruiker.email" /></br>
                <input type="password" class="form-control" placeholder="Wachtwoord" ng-model="createGebruiker.wachtwoord" /></br>
                <input type="password" class="form-control" placeholder="Bevestig wachtwoord" ng-model="createGebruiker.bevestigWachtwoord" /></br>
                <span class="message" ng-show="IsMatch">Emails have to match!</span>
                <span class="message" ng-show="regMsg">{{regMessage}}</span>
                <input class="btn btn-success" type="submit" value="Registreer" ng-click="reg()" />
            </form>

</div>